@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500&family=Raleway:wght@400;600;700&display=swap');

html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
    height: 100%;
}
